<!-- STUDY GUIDE upload form -->
<form class="ui large form segment">
  <h3 class="ui header">Add a Study Guide</h3>
  <div class="field">
    <label for="study_guide_title">Title:&nbsp;</label>
    <input name="study_guide_title" #newtitle>
  </div>
  <div class="field">
    <label for="study_guide_link">Link:&nbsp;</label>
    <input name="study_guide_link" #newlink>
  </div>
  <button (click)="addStudyGuide(newtitle, newlink)" class="ui positive right floated button">
    Submit
  </button>
</form>

<!-- STUDY GUIDE list -->
<div class="ui grid posts">
  <app-study-guide
    *ngFor="let studyGuide of studyGuides"
    [studyGuide]="studyGuide">
  </app-study-guide>
</div>
